//Navigation component
.c-nav {
    background-color: $primary-grey;
    color: $primary-black;

    .c-nav-list {
        list-style: none; //no dots 
        display: flex; //puts list next to one another instead of under

        .c-nav-list-item {
            padding: 10px; 
            &:hover {
                background-color: $primary-white;
                cursor: pointer;
            }
        }
    }
}